CONFIG_SPEED_FRAMEWORK_USE_MQTT=y
CONFIG_SPEED_FRAMEWORK_USE_SETTINGS=y
CONFIG_SPEED_FRAMEWORK_USE_NETWORK=y
CONFIG_SPEED_FRAMEWORK_USE_MODBUS=y
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y
CONFIG_COMPILER_STACK_CHECK_MODE_NORM=y
CONFIG_COMPILER_ORPHAN_SECTIONS_PLACE=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_BLUFI_ENABLE=y
CONFIG_RMT_RECV_FUNC_IN_IRAM=y
CONFIG_UART_ISR_IN_IRAM=y
CONFIG_LOG_COLORS=y
